$brand-theme-color: #28b389; // 品牌主题色
$border-color: #e0e0e0; // 边框颜色
$border-color-light: #efefef; // 边框颜色亮色
$text-font-color-1: #000; // 字体颜色1 文字主色
$text-font-color-2: #676767; // 字体颜色2 副标题
$text-font-color-3: #a7a7a7; // 字体颜色3 浅色
$text-font-color-4: #e4e4e4; // 字体颜色4 更浅色
